@import "./node_modules/bulma/sass/utilities/initial-variables";
@import "./node_modules/bulma/sass/utilities/functions";

@import "./node_modules/bulma/sass/utilities/initial-variables";
@import "./node_modules/bulma/sass/utilities/functions";

// @font-face {
//     font-family: Gotham Light;
//     src: url(/fonts/Gotham-Light.ttf);
// }

// Colors
$light-blue: #0faaf4;
$orange: #e84f1f;
$dark-blue: #057abe;
$green: #38cc79;
// $green: #3BD37F;

$body-size: 17px;

// $body-color: #36444c;
$title-color:  #093f5e;
$subtitle-color: #36444c;

$primary: $light-blue;
$secondry: $orange;
$success: $green;
$danger: $orange;
$info: $light-blue;

$icon-dimensions-large: 4rem;

// Globals
$family-sans-serif: "Open Sans", "Open Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

h1,h2,h3,h4,h5,h6{
	font-family: "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
}

body{
	// font-family: -apple-system, BlinkMacSystemFont, "mplus", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	overflow: hidden;
}





// Elements
.button{
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)!important;
	transition: all .15s ease;
}
.button:hover {
	transform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08)!important;
}
.button:active{
	transform: translateY(1px);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)!important;
}

.hr-small{
	background-color: #e5e8ed;
    border: 0;
    display: block;
    height: 4px;
    margin: 0 auto;
    width: 60px;
}



// Navbar
$navbar-height: 4rem;
$navbar-item-img-max-height: 2rem;
.navbar{
	// box-shadow: 0 2px 5px rgba(0,0,0,.26);
	border-bottom: 1px solid #ebebeb;
}
#servicesDropdown {
	.icon{
		left: 1rem;
	    position: absolute;
	    text-align: center;
	    top: .6rem;
	}
	.navbar-item{
		position: relative;
	    padding-left: 3em;
	    
	}
	
}

.nav-dropdown-link{
	cursor: default!important;
}

.navbar-dropdown{
	display: block!important;
	
	pointer-events: none;
}
@media (min-width: 1025px) {
	.navbar-dropdown{
		opacity: 0;
	}
}
.navbar-item.is-hoverable:hover .navbar-dropdown, .navbar-dropdown:focus-within{
	opacity: 1;
	pointer-events: auto;
}


a.navbar-item>.main-navbar-link, a.navbar-link>.main-navbar-link{
	border-bottom: 2px solid transparent;
	position: relative;
	top: 2px;
}
a.navbar-item.is-active>.main-navbar-link, a.navbar-link.is-active>.main-navbar-link{
	border-bottom: 2px solid $light-blue;
}

.navbar-dropdown a.navbar-item.is-active{
	border-bottom: none;
}

.main-nav-logo{
	height: 34px;
	width: auto;
}

.nav-service-icon{
	width: 1rem;
	height: auto;
}


// Components
.media-content{
	overflow: hidden!important;
}
.services-box{
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)!important;
	transition: all .15s ease;
	overflow: hidden;
}
.services-box:hover {
	transform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08)!important;
}
.services-box:active{
	transform: translateY(1px);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)!important;
}
.services-icon{
	margin-left: -52px;
}

.services-hero-icon{
	height: auto;
	width: 96px;
}


.contact-hero{
	/*background-color: $light-blue;*/
	border-top: 2px solid rgba(207,215,223,.25);
}

.allinone-hero{
	color: $white;
	-webkit-animation-duration: 2s!important;
	animation-delay: .4s;
}
.allinone-title{
	color: $white!important;
}



// Modifiers
.has-margin-bottom{
	margin-bottom: 25px;
}
.is-blue-title{
	color: $primary!important; 
	
}
.is-red-title{
	color: $danger!important;
	
}
.is-uppercase{
	text-transform: uppercase;
}

.has-active-parent{
	color: red!important;
}

.danger-col{
	border-top: 15px solid $orange;
}
.info-col{
	border-top: 15px solid $green;
}
.centered-image{
	margin: 0 auto;
}

.has-background-light-blue{
	background-color: #f0f8ff;
}

.mrg-btm{
	margin-bottom: 1.5rem;
}

.ap-pricing-tile{
	padding: 40px 40px 50px;
	border-radius: 4px;
	box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 2px 6px 2px rgba(60, 64, 67, 0.15);
}
.ap-price{
	font-size: 1.3rem;
	color: $grey;

	span{
		font-size: 1.75rem;
		font-weight: bold;
		color: $title-color;
	}

}



// ??????????
.main-hero{
	// margin-top: -4rem;
}
.services-hero{
	
}
.testing{
	color: inherit;
	text-decoration: underline;
}



// Animations
.fade-in-an{
	webkit-animation-duration: 13s;
}





// Footer
.footer-link-title{
	font-size: 1.25rem;
	font-weight: 600;
}



// Forms
.contact-form{
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)!important;
	border-radius: 6px;
}







.half-col-fw{
	display: flex;
	div{
		width: 50%;
		justify-content: flex-end;
		height: 300px;
	}
}



.has-image-centered {
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
}

